
/* Accordion style */
.cbp-ntaccordion {
	list-style: none;
	padding: 0;
}

.cbp-ntsubaccordion {
	list-style: none;
}

.cbp-ntaccordion .cbp-nttrigger {
	cursor: pointer;
}


.x{
    position: relative;
}

/* Arrow icons */
.cbp-ntaccordion > .x > .cbp-nttrigger:before,
.cbp-ntsubaccordion > .x > .cbp-nttrigger:before {
	font-family: 'icomoon';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #ddd;
	margin-right: 0.5em;
	-webkit-font-smoothing: antialiased;
}



.cbp-ntaccordion > .x > .cbp-nttrigger:before {
	content: "";
}
.cbp-ntaccordion > .x > .cbp-nttrigger:hover:before {
	content: "";
	color: inherit;
}
.cbp-ntaccordion > .x.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntaccordion > .x > .cbp-nttrigger:before {
	content: "";
	color: inherit;
}

.cbp-ntsubaccordion > .x > .cbp-nttrigger:before {
	content: "";
}
.cbp-ntsubaccordion > .x > .cbp-nttrigger:hover:before {
	content: "";
	color: inherit;
}
.cbp-ntsubaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntsubaccordion > .x > .cbp-nttrigger:before {
	content: "";
	color: inherit;
}

/* Initial height is zero */
.cbp-ntaccordion .cbp-ntcontent {
	height: 0;
	overflow: hidden;
    display: none;
}

/* When open, set height to auto */
.cbp-ntaccordion .cbp-ntopen > .cbp-ntcontent,
.cbp-ntsubaccordion .cbp-ntopen > .cbp-ntcontent,
.no-js .cbp-ntaccordion .cbp-ntcontent {
    display: block;
    height: auto;
    float: left;
    position: absolute;
    top: 182px;
    background: #f8f8f8;
    z-index: 50;
    width: 710px;
    left: 230px;
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    padding: 0 20px;
    border: 3px solid #35a84e;
}

