.phone{
    width: 320px;
}
.phone p {
    font-family: "pfbeausanspro-light", sans-serif;
}
.competitors_box{
    font-family: "pfbeausanspro-light", sans-serif;
}
.content_box1{
    font-family: "pfbeausanspro-light", sans-serif !important;
}