@import url(reset.css);
@font-face {
    font-family: "pfbeausanspro-thin";
    src: url('../fonts/pfbeausanspro-thin.eot');
    src: local("☺"), url('../fonts/pfbeausanspro-thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfbeausanspro-thin.woff') format('woff'),
    url('../fonts/pfbeausanspro-thin.ttf') format('truetype'),
    url('../fonts/pfbeausanspro-thin.svg#annabelleregular') format('svg');
}


@font-face {font-family: "pfbeausanspro-light";
    src: url('../fonts/pfbeausanspro-light.eot');
    src: local("☺"), url('../fonts/pfbeausanspro-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfbeausanspro-light.woff') format('woff'),
    url('../fonts/pfbeausanspro-light.ttf') format('truetype'),
    url('../fonts/pfbeausanspro-light.svg#annabelleregular') format('svg');
}
@font-face {font-family: "pfbeausanspro-bold";
    src: url('../fonts/pfbeausanspro-bold.eot');
    src: local("☺"), url('../fonts/pfbeausanspro-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfbeausanspro-bold.woff') format('woff'),
    url('../fonts/pfbeausanspro-bold.ttf') format('truetype'),
    url('../fonts/pfbeausanspro-bold.svg#annabelleregular') format('svg');
}
@font-face {font-family: "pfbeausanspro-regular";
    src: url('../fonts/pfbeausanspro-regular.eot');
    src: local("☺"), url('../fonts/pfbeausanspro-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfbeausanspro-regular.woff') format('woff'),
    url('../fonts/pfbeausanspro-regular.ttf') format('truetype'),
    url('../fonts/pfbeausanspro-regular.svg#annabelleregular') format('svg');
}
@font-face {font-family: "pfbeausanspro-italic";
    src: url('../fonts/pfbeausanspro-italic.eot');
    src: local("☺"), url('../fonts/pfbeausanspro-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfbeausanspro-italic.woff') format('woff'),
    url('../fonts/pfbeausanspro-italic.ttf') format('truetype'),
    url('../fonts/pfbeausanspro-italic.svg#annabelleregular') format('svg');
}
body{
    width: 100%;
    margin: 0 auto;
    font-family: "pfbeausanspro-thin", sans-serif;
    font-size: 18px;
    background-color: white;
    min-width: 1260px;
}
ul li{
    list-style-type: none;
}
.wrapper{
    width: 980px;
    margin: 0 auto;
}
.clear{
    clear: both;
}
.header{
    height: 80px;
    width: 100%;
    background-color: #f4f4f4;
    padding-top: 15px;
}
.logo{
    float: left;
    width: 213px;
    height: 61px;
}
.phone{
    margin-top: 13px;
    float: right;
    width: 302px;
    color: black;
    font-size: 30px;
}
.phone img{
    float: left;
    margin-right: 20px;
}
.phone p{
    margin-top: 3px;
    font-family: "pfbeausanspro-thin", sans-serif;
}

/*******************************slider*******************************/

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 534px;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides div {
    display: block;
    float: left;
    width: 100%;
    border: 0;
    height: 534px;
}
.slider1{
    background: url("../images/slider1.jpg")no-repeat center;
}
.slider2{
    background: url("../images/slider2.jpg")no-repeat center;
}
.slider3{
    background: url("../images/slider3.jpg")no-repeat center;
}

/*******************************slider END*******************************/

.slider{
    position: relative;
}
.slider_content{
    position: absolute;
    top: 0;
    z-index: 100;
    width: 980px;
    left: 50%;
    margin-left: -490px;
}
.slider_content h1{
    font-family: "pfbeausanspro-thin", sans-serif;
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    color: white;
    margin-top: 80px;
}
.slider_content h2{
    font-family: "pfbeausanspro-thin", sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
    padding-bottom: 110px;
}
.slider_content img{
    padding: 20px 0;
    margin-left: 194px;
}
.slider_content a{
    margin-left: 370px;
}
.slider_content .input-form-submit{
    padding: 17px 30px;
    text-decoration: none;
}



.competitors_box{
    width: 560px;
    height: 288px;
    float: left;
    border-right: 1px solid #eaeaea;
    margin-top: 30px;
}
.competitors_box h2{
    font-size: 36px;
}
.competitors_box ul{
    margin-left: 55px;
}
.competitors_box ul li{
    font-size: 18px;
    height: 43px;
    margin-top: 30px;
}
.competitors_box ul li p{
    margin-left: 60px;

}
.competitors_box_img1{
    background: url("../images/competitors_box_img1.png")no-repeat left 0;
}
.competitors_box_img2{
    background: url("../images/competitors_box_img2.png")no-repeat left 0;
}
.competitors_box_img3{
    background: url("../images/competitors_box_img3.png")no-repeat left 0;
}
.competitors_box_img1 > p{
    padding-top: 14px;
}
.competitors_box_img3 > p{
    padding-top: 14px;
}
.container .free_consultation{
    width: 315px !important;
    height: 243px;
    margin-top: 60px;
    float: right !important;
    font-family: "pfbeausanspro-light", sans-serif;
    background: url("../images/free_consultation_line.png")no-repeat 166px 15px;
}
.free_consultation h2{
    color: black;
    font-size: 24px;
    text-transform: uppercase;
}
.free_consultation p{
    font-size: 18px;
    margin-bottom: 30px;
}
.free_consultation p span, .free_consultation h2 span, .free_consultation > h2 > span{
    color: #35a84e;
}
.input-form{
    font-size: 18px;
    width: 245px;
    text-align: center;
    border: 1px solid #eaeaea;
    padding: 12px 0;
    margin-bottom: 10px;
    font-family: "pfbeausanspro-thin", sans-serif;
    background: none;
}
.input-form-submit{
    font-family: "pfbeausanspro-thin",sans-serif;
    background-color: #35A84E;
    width: 200px;
    padding: 9px 0;
    margin-left: 24px;
    border: medium none;
    margin-top: 15px;
    font-size: 24px;
    color: #FFF;
    height: 50px;
}
.jb_input input[name="tel"], .jb_input input[name="name"]{
    border: 1px solid green !important;
}
.jb_title:first-letter{
    text-transform: uppercase;
}
.jb_success{
    text-align: center;
}
#thanks1, #thanks3{
    display: none;
    color: black;
    font-size:15px;
    width: 255px;
    text-align: center;
}
#thanks2{
    display: none;
    color: white;
    font-size:15px;
    width: 255px;
    text-align: center;
    z-index: 100;
}
.input-form-submit{
    cursor: pointer;
}





.content_box1{
    margin-top: 20px;
    width: 100%;
    background-color: #f8f8f8;
    margin-bottom: 60px;
}
.content_box1 ul{
     overflow: hidden;
    padding: 50px 0;
}
.content_box1 ul li{
    float: left;
    width: 27%;
    height: auto;
    text-align: center;
}
.content_box1 ul li:last-child{
    padding-right: 0;
}
.content_box1 ul li h2{
    font-size: 47.97px;
    margin-top: 60px;
}
.content_box1 ul li p{
    font-size: 24px;
    margin-top: 126px;
}
.content_box1_img1{
    background: url("../images/content_box1_img1.png") no-repeat center 0px;
}
.content_box1_img2{
    background: url("../images/content_box1_img2.png") no-repeat center 0px;
}
.content_box1_img3{
    background: url("../images/content_box1_img3.png") no-repeat center 0px;
}
.content_box1 ul li:nth-child(2), .content_box1 ul li:nth-child(4){
    background: url("../images/content_box1_rectangle.png") no-repeat center;
    width: 28px !important;
    height: 28px;
    padding: 0 3%;
    margin-top: 92px;
}






.our_services_box2{
    margin: 10px 0;
}
.our_services{
    margin-bottom: 40px;
}
.our_services ul{
    background: url("../images/our_services_border.png")no-repeat 357px 81px;
}
.our_services > h2{
    text-align: center;
    font-size: 60px;
}
.our_services_img1{
    background: url("../images/our_services_img1.jpg") no-repeat;
    height: 230px;
}
.our_services_img2{
    background: url("../images/our_services_img2.jpg") no-repeat;
    height: 230px;
}
.our_services_img3{
    background: url("../images/our_services_img3.jpg") no-repeat;
    height: 230px;
}
.our_services > h2, .why_we > h2, .ratings h3, .our_certificates > h2{
    text-align: center;
    font-size: 60px;
    background: url("../images/our_services_h2.png") repeat-x center;
    margin-bottom: 60px;
}
.our_services > h2 span, .why_we > h2 span, .ratings h3 span, .our_certificates > h2 span{
    background: white;
    padding: 0 30px;
}
.our_services > ul > li{
    margin-bottom: 10px;
    text-align: center;
}



.our_services_box1_1, .our_services_box1_2, .our_services_box1_3, .our_services_box1_4{
    cursor: pointer;
    text-align: center;
    float: left;
    width: 24%;
    padding-right: 8px;
    padding-top: 40px;
    display: block;
    height: 190px;
    font-family: "pfbeausanspro-thin", sans-serif;
}
.our_services_box1_4{
    padding-right: 0;
}
.our_services_box1_1{
    cursor: auto!important;
}
.our_services_box1_1 h2{
    font-size: 20px;
    margin-top: 120px;
}
.our_services_box1_2 h3, .our_services_box1_3 h3, .our_services_box1_4 h3{
    margin-bottom: 15px;
    margin-top: 55px;
}
.our_services_box1_2 > p, .our_services_box1_3 > p, .our_services_box1_4 > p{
    width: 100px;
    margin: 7px auto 0;
    padding-top: 15px;
    border-top: 1px solid #eaeaea;
    color: #ea5454;
    font-family: "pfbeausanspro-regular", sans-serif;
}





.having_problems{
    width: 100%;
    height: 300px;
    background: url("../images/having_problems_bg.jpg")no-repeat;
    background-size: cover;
    background-position: center;
}
.having_problems_text{
    margin-top: 41px;
    float: left;
    width: 490px;
}
.having_problems_text h2{
    color: white;
    font-size: 36px;
    line-height: 42px;
}
.having_problems_text p{
    line-height: 20px;
    width: 257px;
    margin-top: 20px;
    padding-top: 27px;
    color: white;
    border-top: 4px solid white;
}
.ask_question{
    margin-top: 41px;
    float: right;
    width: 310px;
    background: url("../images/ask_question_line.png")no-repeat 216px 10px;
}
.ask_question h2{
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
}
.ask_question .input-form{
    background: rgba(0, 0, 0, 0);
    border: 1px solid #eaeaea;
    color: white;
}



.why_we{
    margin-bottom: 50px;
}
.why_we_img1{
    background: url("../images/why_we_img1.png")no-repeat 20px 0;
}
.why_we_img2{
    background: url("../images/why_we_img2.png")no-repeat 20px 0;
}
.why_we_img3{
    background: url("../images/why_we_img3.png")no-repeat 20px 0;
}
.why_we_img4{
    background: url("../images/why_we_img4.png")no-repeat 20px 0;
}
.why_we_img5{
    background: url("../images/why_we_img5.png")no-repeat 20px 0;
}
.why_we_img6{
    background: url("../images/why_we_img6.png")no-repeat 20px 0;
}
.why_we ul li{
    margin-bottom: 30px;
}
.why_we ul li > h2{
    padding-top: 3px;
    margin-left: 70px;
    font-size: 24px;
    font-family: "pfbeausanspro-light", sans-serif;
    margin-bottom: 8px;
}
.why_we ul li p{
    margin-left: 105px;
}
.why_we > h2{
    margin-bottom: 40px;
    margin-top: 50px;
}





.ratings{
    background-color: #f8f8f8;
    width: 100%;
    height: 450px;
    margin-bottom: 60px;
}
.bx-pager-item {
    float: left;
    height: 22px;
    width: 21px;
    margin-left: 18px;
}
.bx-pager-link{
    background: url("../images/ratings_dot.png")no-repeat;
    height: 22px;
    width: 21px;
    text-indent: -9999px;
    display: block;
}
.active{
    background: url("../images/ratings_dot_active.png")no-repeat;
    height: 22px;
    width: 21px;
}
.bx-prev{
    background: url("../images/ratings_btn.png")no-repeat;
    height: 72px;
    width: 38px;
    position: absolute;
    top: -160px;
    left: -70px;
}
.bx-next{
    background: url("../images/ratings_btn.png")no-repeat -38px 0;
    height: 72px;
    width: 38px;
    position: absolute;
    top: -160px;
    right: -70px;
}
.bx-controls-direction{
    position: relative;
}
.bx-default-pager{
    float: right;
}
.bxslider li img{
    float: left;
    margin-right: 15px;
    z-index: 400;
}
#ass area{
    z-index: 5000;
}
.bxslider li h2{
    font-family: "pfbeausanspro-light", sans-serif;
    margin-bottom: 35px;
    font-size: 24px;
}
.bxslider li h4{
    font-family: "pfbeausanspro-regular", sans-serif;
}
.bxslider li p{
    font-family: "pfbeausanspro-thin", sans-serif;
    margin-bottom: 30px;
}
.bxslider li p b{
    font-family: "pfbeausanspro-regular", sans-serif;
}
.ratings h3 span{
    background-color: #f8f8f8;
}
.ratings h3{
    padding: 50px 0;
    margin: 0;
}



.our_certificates{
    margin-bottom: 35px;
}
.our_certificates > h2{
    margin-bottom: 50px;
}
.our_certificates ul{
    overflow: hidden;
    width: 975px;
    margin: 0 auto;
}
.our_certificates ul li{
    float: left;
    margin-right: 126px;
}
.our_certificates ul li:last-child{
    margin-right: 0;
}
.our_certificates ul li a{
    display: block;
    width: 148px;
    height: 240px;
}
.content_box1 ul li{
    position: relative;
    display: block;
    opacity: 0.8;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.greenBorder{
    outline: 1px solid #35A84E !important;
    outline-offset: -1px;
}


footer{
    z-index: 1;
    width: 100%;
    overflow: hidden;
}
.footer .free_consultation{
    margin-top: 70px;
    width: 316px;
    float: left !important;
    z-index: 2;
    margin-left: 30px;
    background: url("../images/free_consultation_line.png")no-repeat 166px 15px;
}
.contacts{
    margin-top: 15px;
    overflow: hidden;
    padding-bottom: 20px;
}
.contacts h2{
    font-family: "pfbeausanspro-light", sans-serif;
    font-size: 24px;
}
.contacts ul li{
    margin-top: 10px;
}
.contacts ul li{
    color: black;
    text-decoration: none;
}
.footer_map{
    width: 60%;
    float: left;
}
#widget{
    width: 100% !important;
}
.footer_map a{
    height: 365px;
    width: 100%;
}
.contacts_info {
    width: 100%;
}
.contacts_info li{
    width: 330px;
    float: left;
}
.contacts_info li:last-child{
    width: 230px;
}
.contacts p{
    line-height: 20px;
}
.contacts > p > a{
    width: 185px;
    margin: 20px auto;
    display: block;
}
.contacts li p a{
    color: #35A84E;
    text-decoration: none;
    font-size: 20px;
}
.footerBG{
    background-color: #f8f8f8;
    overflow: hidden;
}
.telefon{
    float: left;
    margin-left: 17px;
}
.telefonM{
    float: right;
    margin-right: 30px;
}
#p_width{
    width: 200px;
    overflow: hidden;
    clear: both;
}





.jbCallme{
    z-index: 1000010;
}
.jb_dev{
    display: none;
}










.greenBorder1{
    outline: 1px solid #35A84E !important;
    outline-offset: -1px;
    background: url("../images/our_services_img1_li_1_active.png")no-repeat center 30px !important;
}
.greenBorder2{
    outline: 1px solid #35A84E !important;
    outline-offset: -1px;
    background: url("../images/our_services_img1_li_2_active.png")no-repeat center 30px !important;
}
.greenBorder3{
    outline: 1px solid #35A84E !important;
    outline-offset: -1px;
    background: url("../images/our_services_img1_li_3_active.png")no-repeat center 30px !important;
}



.greenBorder2-1{
    outline: 1px solid #35A84E !important;
    outline-offset: -1px;
    background: url("../images/our_services_img2_li_1_active.png")no-repeat center 30px !important;
}
.greenBorder2-2{
    outline: 1px solid #35A84E !important;
    outline-offset: -1px;
    background: url("../images/our_services_img2_li_2_active.png")no-repeat center 30px !important;
}
.greenBorder2-3{
    outline: 1px solid #35A84E !important;
    outline-offset: -1px;
    background: url("../images/our_services_img2_li_3_active.png")no-repeat center 30px !important;
}



.greenBorder3-1{
    outline: 1px solid #35A84E !important;
    outline-offset: -1px;
    background: url("../images/our_services_img3_li_1_active.png")no-repeat center 30px !important;
}
.greenBorder3-2{
    outline: 1px solid #35A84E !important;
    outline-offset: -1px;
    background: url("../images/our_services_img3_li_2_active.png")no-repeat center 30px !important;
}
.greenBorder3-3{
    outline: 1px solid #35A84E !important;
    outline-offset: -1px;
    background: url("../images/our_services_img3_li_3_active.png")no-repeat center 30px !important;
}

.cbp-ntcontent p{
    margin: 20px 0;
}
.cbp-ntcontent p b{
    font-family: "pfbeausanspro-bold", sans-serif;
}











.our_services_img1_li_img1{
    background: url("../images/our_services_img1_li_1.png")no-repeat center 30px;
}
.our_services_img1_li_img2{
    background: url("../images/our_services_img1_li_2.png")no-repeat center 30px;
}
.our_services_img1_li_img3{
    background: url("../images/our_services_img1_li_3.png")no-repeat center 30px;
}
.our_services_img1_li_img1:hover{
    background: url("../images/our_services_img1_li_1_active.png")no-repeat center 30px;
}
.our_services_img1_li_img2:hover{
    background: url("../images/our_services_img1_li_2_active.png")no-repeat center 30px;
}
.our_services_img1_li_img3:hover{
    background: url("../images/our_services_img1_li_3_active.png")no-repeat center 30px;
}



.our_services_img2_li_img1{
    background: url("../images/our_services_img2_li_1.png")no-repeat center 30px;
}
.our_services_img2_li_img2{
    background: url("../images/our_services_img2_li_2.png")no-repeat center 30px;
}
.our_services_img2_li_img3{
    background: url("../images/our_services_img2_li_3.png")no-repeat center 30px;
}
.our_services_img2_li_img1:hover{
    background: url("../images/our_services_img2_li_1_active.png")no-repeat center 30px;
}
.our_services_img2_li_img2:hover{
    background: url("../images/our_services_img2_li_2_active.png")no-repeat center 30px;
}
.our_services_img2_li_img3:hover{
    background: url("../images/our_services_img2_li_3_active.png")no-repeat center 30px;
}


.our_services_img3_li_img1{
    background: url("../images/our_services_img3_li_1.png")no-repeat center 30px;
}
.our_services_img3_li_img2{
    background: url("../images/our_services_img3_li_2.png")no-repeat center 30px;
}
.our_services_img3_li_img3{
    background: url("../images/our_services_img3_li_3.png")no-repeat center 30px;
}
.our_services_img3_li_img1:hover{
    background: url("../images/our_services_img3_li_1_active.png")no-repeat center 30px;
}
.our_services_img3_li_img2:hover{
    background: url("../images/our_services_img3_li_2_active.png")no-repeat center 30px;
}
.our_services_img3_li_img3:hover{
    background: url("../images/our_services_img3_li_3_active.png")no-repeat center 30px;
}


.example_shown{
    position: relative;
    display: table;
}
.example_hidden{
    left: -16px;
    position: absolute;
    z-index: 5;
    display: none;
    width: 720px;
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid black;
}
.example_hidden2{
    left: -262px;
    position: absolute;
    z-index: 5;
    display: none;
    width: 720px;
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid black;
}
.example_hidden3{
    left: -508px;
    position: absolute;
    z-index: 5;
    display: none;
    width: 720px;
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid black;
}
.example_hidden p, .example_hidden2 p, .example_hidden3 p{
    text-align: left;
    margin-bottom: 15px;
}
.example_shown:hover .example_hidden, .example_shown:hover .example_hidden2, .example_shown:hover .example_hidden3{
    display: block;
}



.hidden{
    opacity:0;
}
.visible{
    opacity:1;
}

.our_services_img2_li_img1, .our_services_img2_li_img2, .our_services_img1_li_img1, .our_services_img1_li_img2{
    border-right: 2px solid #f8f8f8;
    border-bottom: 2px solid #f8f8f8;
}
.our_services_img1_li_img3, .our_services_img2_li_img3{
    border-bottom: 2px solid #f8f8f8;
}
.our_services_img3_li_img2{
    border-right: 2px solid #f8f8f8;
    border-left: 2px solid #f8f8f8;
}







